﻿@model IEnumerable<App.Infrastructure.Audience>

@{
    ViewBag.Title = "Index";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel p-0">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-list"></span> <strong>Audience - Index</strong>
        </h2>
    </div>
    <div class="panel-content p-b-20">
        <div id="grid"></div>
    </div>
</div>
@section styles{
    <script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>
}
@section scripts{
    <script type="text/javascript">
        var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)Audiences",
                    dataType: "json",
                    contentType: "application/json"
                },
                destroy: {
                    url: function (data) {
                        return "@(webApiUrl)Audiences/" + data.ClientId;
                    },
                    type: "delete"
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        return "q=" + JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: 'ClientId',
                    fields: {
                        ClientId: {
                            type: "string"
                        },
                        Base64Secret: {
                            type: "string"
                        },
                        Name: {
                            type: "string"
                        },
                    }
                }
            },
            batch: false,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            pageSize: 10
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            dataBound: gridDataBound,
            noDataMessage: 'Currently no Audience available',
            columns: [
                "Name",
                {
                    command: [
                        {
                            name: 'Details',
                            click: function (data) {
                                var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                                window.location = "@Url.Action("Details")/" + dataItem.ClientId;
                            },
                            text: "<button class='btn btn-default btn-transparent btn-sm p-0' title='Details'><span class='fa fa-search'></span></button>"
                        },
                        {
                            name: 'Edit',
                            click: function (data) {
                                var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                                window.location = "@Url.Action("Edit")/" + dataItem.ClientId;
                            },
                            text: "<button class='btn btn-primary btn-sm p-0' title='Edit'><span class='fa fa-edit'></span></button>"
                        },
                        {
                            name: 'destroy',
                            text: "<button class='btn btn-danger btn-sm p-0' title='Delete'><span class='fa fa-trash-o'></span></button>"
                        }
                    ],
                    width: 200
                }
            ],
            editable: "popup",
            sortable: true,
            filterable: {
                mode: "row"
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            groupable: true,
            excel: {
                allPages: true,
                fileName: "Audience_Export.xlsx",
                filterable: true
            },
            toolbar: [
                {
                    name: "create",
                    template: '<a href="@Url.Action("Create")" class="k-button k-button-icontext"><span class="fa fa-plus"></span> Add New Audience</a>'
                }
            ]
        });
    </script>
}
