﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    /*max-width: 280px;*/
}

.validation-summary-errors ul{
    list-style: none;
}

form#login, form#forgot {
    width: 350px;
    border: 1px solid #a3a3a3;
    background-color: #efefef;
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px 10px 20px;
}

form#login h3, form#forgot h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
}

form#login div, form#forgot div {
    margin: 10px 0;
}

form#login input, form#changePassword input, form#forgot input {
    width: 100%;
}