﻿.no-padding {
    padding: 0 !important;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
}

.topbar .header-right .header-menu .dropdown-menu li a:hover {
    background: transparent;
}

.k-grid-content {
    max-height: 400px;
    min-height: 25px;
}

.class-template {
    margin: 0 5px 0 5px;
}

.small-text {
    font-size: 11px;
}

.k-event {
    clear: both;
    border: solid 1px rgba(100, 100, 100, 0.5);
    -webkit-box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);
    box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.5);
    overflow-y: auto;
    text-justify: auto;
    text-shadow: 0px 0px 2px rgb(200, 200, 200);
    color: #ffffff;
    background-color: #319DB5;
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
    color: #fff;
    background-color: #18A689;
    border-color: #18A689;
}

.k-button:hover, .k-button.k-state-hover, .k-button:focus, .k-button.k-state-focused, .k-textbox:hover, .k-state-hover, .k-state-hover:hover, .k-pager-wrap .k-link:hover, .k-other-month.k-state-hover .k-link, div.k-filebrowser-dropzone em, .k-draghandle:hover {
    background-image: url('textures/highlight.png');
    background-image: none,-webkit-linear-gradient(top,#319DB5 0,#319DB5 100%);
    background-image: none,-moz-linear-gradient(top,#319DB5 0,#319DB5 100%);
    background-image: none,-o-linear-gradient(top,#319DB5 0,#319DB5 100%);
    background-image: none,linear-gradient(to bottom,#319DB5 0,#319DB5 100%);
}

    .ladda-button:hover, .k-state-hover, .k-state-hover:hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-list > .k-state-hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-pager-wrap .k-link:hover, .k-dropdown .k-state-focused, .k-filebrowser-dropzone, .k-mobile-list .k-item > .k-link:active, .k-mobile-list .k-item > .k-label:active, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-recur-view .k-check:active {
        color: #fff;
        background-color: #319DB5;
        border-color: #319DB5;
    }

/*.panel {
    padding: 10px 10px 10px 10px;
}*/

.sidebar .logopanel h1 a {
    background: none !important;
    display: block;
    height: 31px;
    color: #ffffff;
    font-size: 34px;
}

.ladda-button .ladda-label {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.ladda-button[data-style=expand-left][data-loading] {
    padding-left: 56px;
    background-color: #319DB5;
}

.user-row {
    margin-bottom: 14px;
}

    .user-row:last-child {
        margin-bottom: 0;
    }

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

    .dropdown-user:hover {
        cursor: pointer;
    }

.table-user-information > tbody > tr {
    border: 0px;
}

    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }


    .table-user-information > tbody > tr > td {
        border-top: 0;
    }

.toppad {
    margin-top: 20px;
}

.user-pic {
    margin-left: 4px;
}

img.sender-img {
    -ms-border-radius: 50%;
    border-radius: 50%;
  width: 40px;
  height: 40px;
}

.answer-textarea-custom {
  margin-top: 15px;
}

.email-details .write-answer #send-memo, 
.btn-send-memo {
  float: right;
  margin-right: 0;
  margin-top: 20px;
}


.morphsearch .dummy-media-object h3 {
    width: auto;
}

.alternative {
    padding: 10px;
    border: 1px solid #efefef;
    margin-bottom: 5px;
}

.modal-dialog {
    margin-top: 5%;
    z-index: 10000;
}

.news-img-preview {
    padding: 10px;
}

    .news-img-preview > img {
        height: 150px;
        width: auto;
    }

img.news-image-post {
    padding: 30px 0;
}

button#activate-user-btn {
    margin-left: 15px;
}

.btn i {
    padding-right: 8px;
}

.k-tabstrip .k-tabstrip-items {
    padding: .3em .3em 0 !important;
}

.k-grid-AddPosibleSoal,
.k-grid-DeletePosibleSoal,
.k-grid-Details,
.k-grid-Edit,
.k-grid-edit,
.k-grid-delete{
    -moz-min-width: 0px;
    -ms-min-width: 0px;
    -o-min-width: 0px;
    -webkit-min-width: 0px;
    background: transparent;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    line-height: 0 !important;
}

    .k-grid-AddPosibleSoal .btn,
    .k-grid-DeletePosibleSoal .btn,
    .k-grid-Details .btn,
    .k-grid-Edit .btn,
    .k-grid-edit .btn,
    .k-grid-delete .btn {
        margin: 0 !important;
    }

    .k-grid-AddPosibleSoal:hover,
    .k-grid-DeletePosibleSoal:hover,
    .k-grid-Details:hover,
    .k-grid-Edit:hover,
    .k-grid-edit:hover,
    .k-grid-delete:hover {
        -ms-border-radius: 4px !important;
        border-radius: 4px !important;
        padding: 0 !important;
        background: transparent;
    }

.k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {
    -moz-min-width: 30px;
    -ms-min-width: 30px;
    -o-min-width: 30px;
    -webkit-min-width: 30px;
    min-width: 30px;
    margin: 0 5px !Important;
}

.k-grid-toolbar .btn {
    margin-bottom: 0;
    margin-right: 0;
}

/*.k-grid-toolbar .k-button.k-button-icontext.k-grid-excel {
    margin-left: 10px !important;
}*/

.panel .panel-content .row {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.audiojs .play-pause {
    width: 40px;
}

.audiojs audio {
    visibility: hidden;
    ;
}

.btn {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.pager li > a, .pager li > span {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

a.title {
    color: #5b5b5b;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled].btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled].btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled].btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled].btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled].btn-success.active {
    background-color: rgb(24, 166, 137);
    border-color: #05201b;
    -ms-opacity: .7;
    opacity: .7;
}

.validation-summary-errors ul{
    list-style: none;
}

.max-h-300 {
    max-height: 300px !important;
}

.max-h-400 {
    max-height: 400px !important;
}

.max-h-500 {
    max-height: 500px !important;
}

.max-h-600 {
    max-height: 600px !important;
}

.max-h-700 {
    max-height: 700px !important;
}

.max-h-800 {
    max-height: 800px !important;
}

.min-h-300 {
    min-height: 300px !important;
}

.min-h-400 {
    min-height: 400px !important;
}

.min-h-500 {
    min-height: 500px !important;
}

.min-h-600 {
    min-height: 600px !important;
}

.min-h-700 {
    min-height: 700px !important;
}

.min-h-800 {
    min-height: 800px !important;
}

.line-h-5 {
    line-height: 5px;
}

.line-h-10 {
    line-height: 10px;
}

.line-h-12 {
    line-height: 12px;
}

.line-h-14 {
    line-height: 14px;
}

.line-h-18 {
    line-height: 18px;
}

.line-h-24 {
    line-height: 24px;
}

.line-h-28 {
    line-height: 28px;
}

.line-h-32 {
    line-height: 32px;
}

.line-h-48 {
    line-height: 48px;
}

.ov-scroll {
    overflow: scroll !important;
}

.ov-scroll-x {
    overflow-x: scroll !important;
}

.ov-scroll-y {
    overflow-y: scroll !important;
}

.select2-container{margin:0;position:relative;display:inline-block;vertical-align:middle;width: 150px;}

.form-horizontal .control-label {
  color: #3E484E;
  text-align: left;
  top: 0px; 
}

textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: auto; 
  width: 100%;
}

.k-button.k-button-icontext .k-icon, .k-button.k-button-icontext .k-image {
    display: none;
}

.topbar .header-right .header-menu .username {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-right {
    text-align: right !important;
}

.text-center{
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-justify {
    text-align: justify !important;
}