﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PT. Sangkuriang Internasional</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="~/Content/make/assets/global/img/favicon.png">
    <link href="~/Content/make/assets/global/css/style.css" rel="stylesheet">
    <link href="~/Content/make/assets/global/css/ui.css" rel="stylesheet">
    @RenderSection("styles", false)
</head>
<body class="error-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="error-container">
                <div class="error-main">
                    <h1><span id="404"></span></h1>
                    <h3><span id="404-txt"></span></h3>
                    <h4><span id="404-txt-2"></span></h4>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <div class="footer">
        <div class="copyright">
            <p class="">
                <span>Copyright <span class="copyright">©</span> @DateTime.Now.Year </span>
                <span>PT. Sangkuriang Internasional</span>.
                <span>All rights reserved. </span>
            </p>
        </div>
    </div>
    <script src="~/Content/make/assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Content/make/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/typed/typed.js"></script>
    @RenderSection("scripts", false)
</body>
</html>