﻿@using App.Helper
@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    var user = UserHelper.GetUser(User.Identity.GetUserId());
    var photo = UserHelper.GetUserPhoto(User.Identity.GetUserId());

    <li class="dropdown" id="user-header">
        <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img src="@Url.Content(photo)?w=40&h=40&mode=crop&cache=no" alt="user image">
            <span class="username">Hi, @user.UserName</span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Profile", "Member")"><i class="icon-user"></i><span>My Profile</span></a>
            </li>
            <li>
                <a href="@Url.Action("Manage", "Member")"><i class="icon-settings"></i><span>Change Password</span></a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-logout"></i><span>Logout</span></a>
            </li>
        </ul>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
        }
    </li>
}