﻿@if (Request.Cookies["auth"] != null)
{
    Response.Redirect("/");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Labpimnas</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/make/assets/global/css/style.css" rel="stylesheet">
    <link href="~/Content/make/assets/global/css/ui.css" rel="stylesheet">
    <link href="~/Content/make/assets/global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
</head>
<body>
    @RenderBody()

    <div id="body-overlay" class="k-overlay hide">
        <div class="overlay-text">Loading...</div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/make/assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/gsap/main-gsap.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/backstretch/backstretch.min.js"></script>
    <script src="~/Content/make/assets/global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="~/Content/make/assets/global/js/pages/login-v1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script type="text/javascript">
        $('body').removeClass(function (index, css) {
            return (css.match(/(^|\s)color-\S+/g) || []).join(' ');
        });
        $('body').addClass('color-purple');
        $('.theme-color').removeClass('active');
        $('.theme-color').addClass('active');
        $('.theme-left').css('background-color', '#6E62B5');
        $('.theme-sidebar-dark, .theme-right-dark').css('background-color', '#393F51');
        $('.theme-sidebar-light, .theme-right-light').css('background-color', '#F3F2F7');
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>