﻿@using App.Helper
@model List<Domain.Infrastructure.Menu>

<div class="menu-title">
    Navigation
</div>
<ul class="nav nav-sidebar" style="padding-bottom: 50px;">
    @foreach (var menu in Model)
    {
        if (menu.SubMenu == null)
        {
            @Html.MenuLink(menu.Title ?? menu.Name, menu.Action, menu.Controller, menu.Icon, true)
        }
        else
        {
            <li class="nav-parent">
                <a href="#"><i class="@menu.Icon"></i><span>@(menu.Title ?? menu.Name)</span> <span class="fa arrow"></span></a>
                <ul class="children collapse" data-navigation="true">
                    @foreach (var subMenu in menu.SubMenu.OrderBy(x => x.SortOrder))
                    {
                        @Html.MenuLink(subMenu.Title ?? subMenu.Name, subMenu.Action, subMenu.Controller, "", true)
                    }
                </ul>
            </li>
        }
    }
</ul>