﻿@using App.Helper
@using Microsoft.AspNet.Identity
@{
    var user = UserHelper.GetUser(User.Identity.GetUserId());
    var photo = UserHelper.GetUserPhoto(User.Identity.GetUserId());
}
<!-- BEGIN SIDEBAR -->
<div class="sidebar">
    <div class="logopanel">
        <h1>
            <a href="@Url.Action("Index", "Home")">Sangkuriang</a>
        </h1>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-top">
            <form action="" name="search" class="searchform" id="search-results">
                <input type="text" class="form-control" name="keyword" placeholder="Search...">
            </form>
            @*<div class="text-center">
                <div class="user-image">
                    <img src="@Url.Content(photo)?w=100&h=100&mode=crop" class="img-responsive img-circle m-auto" alt="friend 8">
                </div>
                <h4 class="m-auto m-t-10 p-0 text-center">@user.UserProfile.Name</h4>
            </div>*@
        </div>
        @Html.Action("RenderMenu", "Menu")
        <div class="sidebar-footer clearfix">
            <a class="pull-left footer-settings" href="#" data-rel="tooltip" data-placement="top" data-original-title="Settings">
                <i class="icon-settings"></i>
            </a>
            <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
                <i class="icon-size-fullscreen"></i>
            </a>
            <a class="pull-left" href="#" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
                <i class="icon-lock"></i>
            </a>
            <a class="pull-left btn-effect" href="javascript:document.getElementById('logoutForm').submit()" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout">
                <i class="icon-power"></i>
            </a>
        </div>
    </div>
</div>
<!-- END SIDEBAR -->