﻿@model Domain.Infrastructure.ApplicationRole

@{
    ViewBag.Title = "Details";

    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-info-circle"></span> <strong>Role - Details</strong>
        </h2>
    </div>
    <div class="panel-content p-b-20">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <div class="nav nav-tabs">
            <ul class="nav nav-tabs nav-green">
                <li class="active"><a href="#role-permission" data-toggle="tab">Role Permission</a></li>
                <li class=""><a href="#role-menu" data-toggle="tab">Role Menu</a></li>
            </ul>
            <div class="tab-content">
                <div id="role-permission" class="tab-pane fade active in">
                    <h3 class="m-t-0">Assign Permission to Role</h3>
                    <div class="form-group">
                        <label for="permission-ddl" class="control-label col-md-2">Select Permission</label>
                        <div class="col-md-10">
                            <select id="permission-ddl"></select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group m-t-10">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button id="save-permission" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div id="permission-grid"></div>
                </div>
                <div id="role-menu" class="tab-pane fade">
                    <h3 class="m-t-0">Assign Menu to Role</h3>
                    <div class="form-group">
                        <label for="menu-ddl" class="control-label col-md-2">Select Menu</label>
                        <div class="col-md-10">
                            <select id="menu-ddl"></select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group m-t-10">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button id="save-menu" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div id="menu-grid"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <p class="pull-right">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Role List", "Index")
            @if (Request.UrlReferrer != null)
            {
                @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
            }
        </p>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var dsPermission = App.Models.Permission.DataSource({
            transport: {
                read: {
                    url: "@(webApiUrl)Permissions",
                    dataType: "json",
                    contentType: "application/json"
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        if (options.filter) {
                            if (options.filter.filters.length === 0) {
                                delete options.filter;
                            } else {
                                if (options.filter.filters[0].value.toString().trim().length === 0) {
                                    delete options.filter;
                                }
                            }
                        }

                        return "q=" + JSON.stringify(options) + "&role=@Model.Id";
                    }
                }
            },
        }, true);

        var permissions = $("#permission-ddl").kendoMultiSelect({
            filter: "contains",
            dataSource: dsPermission,
            dataTextField: "Name",
            dataValueField: "Id",
            autoClose: false,
            placeholder: "Select permission..."
        }).data("kendoMultiSelect");

        $('#save-permission').unbind().click(function (e) {
            e.preventDefault();

            var dataToSend = [];

            if (permissions.value().length === 0) {
                showNotif("Harap pilih permission terlebih dahulu...", "danger");

                return false;
            }

            $.each(permissions.value(), function (index, item) {
                dataToSend.push({
                    PermissionId: item,
                    RoleId: "@Model.Id"
                });
            });

            $.ajax({
                url: "@(webApiUrl)RolePermissions",
                data: JSON.stringify(dataToSend),
                contentType: 'application/json; charset=utf-8',
                method: "POST",
                success: function (e) {
                    permissions.value([]);
                    dsPermission.fetch();
                    dsRolePermission.fetch();
                    permissionGrid.refresh();
                    $("#body-overlay").addClass("hide");
                    showNotif("Berhasil menambahkan permission", "success");
                },
                error: function (e) {
                    showNotif("Gagal menambahkan permission", "danger");
                    $("#body-overlay").addClass("hide");
                },
                beforeSend: function () {
                    $("#body-overlay").removeClass("hide");
                }
            });

            return false;
        });

        var dsMenu = App.Models.Menu.DataSource({
            transport: {
                read: {
                    url: "@(webApiUrl)Menus",
                    dataType: "json",
                    contentType: "application/json"
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        if (options.filter) {
                            if (options.filter.filters.length === 0) {
                                delete options.filter;
                            } else {
                                if (options.filter.filters[0].value.toString().trim().length === 0) {
                                    delete options.filter;
                                }
                            }
                        }

                        return "q=" + JSON.stringify(options) + "&role=@Model.Id";
                    }
                }
            },
        }, true);

        var menus = $("#menu-ddl").kendoMultiSelect({
            filter: "contains",
            dataSource: dsMenu,
            dataTextField: "Name",
            dataValueField: "Id",
            autoClose: false,
            placeholder: "Select menu..."
        }).data("kendoMultiSelect");

        $('#save-menu').unbind().click(function (e) {
            e.preventDefault();

            var dataToSend = [];

            if (menus.value().length === 0) {
                showNotif("Harap pilih menu terlebih dahulu...", "danger");

                return false;
            }

            $.each(menus.value(), function (index, item) {
                dataToSend.push({
                    MenuId: item,
                    RoleId: "@Model.Id"
                });
            });

            $.ajax({
                url: "@(webApiUrl)RoleMenus",
                data: JSON.stringify(dataToSend),
                contentType: 'application/json; charset=utf-8',
                method: "POST",
                success: function (e) {
                    menus.value([]);
                    dsMenu.fetch();
                    dsRoleMenu.fetch();
                    menuGrid.refresh();
                    $("#body-overlay").addClass("hide");
                    showNotif("Berhasil menambahkan menu", "success");
                },
                error: function (e) {
                    showNotif("Gagal menambahkan menu", "danger");
                    $("#body-overlay").addClass("hide");
                },
                beforeSend: function () {
                    $("#body-overlay").removeClass("hide");
                }
            });

            return false;
        });

        var dsRoleOption = {
            requestEnd: function(e) {
                if (e.type != "read") {
                    dsPermission.fetch();
                }
            },
            filter: {
                logic: "and",
                filters: [
                    {
                        field: "RoleId",
                        value: "@Model.Id",
                        operator: "eq"
                    }
                ]
            }
        };

        var dsRolePermission = App.Models.RolePermission.DataSource(dsRoleOption, true);

        var permissionGrid = $("#permission-grid").kendoGrid({
            dataSource: dsRolePermission,
            dataBound: gridDataBound,
            noDataMessage: 'Currently no Role Permission available',
            columns: [
                {
                    field: "Permission.Name",
                    title: "Permission",
                    template: function (data) {
                        return '<a href="@Url.Action("Details","Permission")/' + data.Permission.Id + '">' + data.Permission.Name + '</a>';
                    }
                },
                {
                    field: "Id",
                    hidden: true,
                    width: 100
                },
                {
                    command: [
                        {
                            name: 'destroy',
                            text: "<button class='btn btn-danger btn-sm p-0' title='Delete'><span class='fa fa-trash-o'></span></button>"
                        }
                    ],
                    width: 100
                }
            ],
            editable: "popup",
            sortable: true,
            filterable: {
                mode: "row"
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            }
        }).data("kendoGrid");

        var dsRoleMenuOption = {
            requestEnd: function (e) {
                if (e.type != "read") {
                    dsMenu.fetch();
                }
            },
            filter: {
                logic: "and",
                filters: [
                    {
                        field: "RoleId",
                        value: "@Model.Id",
                        operator: "eq"
                    }
                ]
            }
        };

        var dsRoleMenu = App.Models.RoleMenu.DataSource(dsRoleMenuOption, true);

        var menuGrid = $("#menu-grid").kendoGrid({
            dataSource: dsRoleMenu,
            dataBound: gridDataBound,
            noDataMessage: 'Currently no Role Menu available',
            columns: [
                {
                    field: "Menu.Name",
                    title: "Menu",
                    template: function (data) {
                        return '<a href="@Url.Action("Details","Menu")/' + data.Menu.Id + '">' + data.Menu.Name + '</a>';
                    }
                },
                {
                    field: "Id",
                    hidden: true,
                    width: 100
                },
                {
                    command: [
                        {
                            name: 'destroy',
                            text: "<button class='btn btn-danger btn-sm p-0' title='Delete'><span class='fa fa-trash-o'></span></button>"
                        }
                    ],
                    width: 100
                }
            ],
            editable: "popup",
            sortable: true,
            filterable: {
                mode: "row"
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            }
        }).data("kendoGrid");
    </script>
}