﻿@model Domain.Models.Ticket

@{
    ViewBag.Title = "Details";

    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-info-circle"></span> <strong>Ticket - Details</strong>
        </h2>
    </div>
    <div class="panel-content">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Creator)
            </dt>

            <dd>
                @*<a href="@Url.Action("Details", "ApplicationUser", new { id = Model.Creator.Id })" >@Model.Creator.Email</a>*@
                @if (Model.CreatorId == null)
                {
                    <span class='text'>Anonymous</span>
                }
                else
                { <a href="@Url.Action("Details", "ApplicationUser", new { id = Model.Creator.Id })">@Model.Creator.Email</a> }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Solution)
            </dt>

            <dd>
                @*<a href="@Url.Action("Details", "Solution", new { id = Model.Solution.Id })" >@Model.Solution.Title</a>*@
                @if (Model.SolutionId == null)
                {
                    <span class='text'>Null</span>
                }
                else
                { <a href="@Url.Action("Details", "Solution", new { id = Model.Solution.Id })">@Model.Solution.Title</a> }
                @*<span id="Solution"></span>*@
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.Application)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Application)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.Priority)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Priority)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.DueDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DueDate)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.LastUpdateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastUpdateTime)
            </dd>
            </dl>
            <div id="tabstrip">
            <ul>
                    <li class="k-state-active">
                    Comments
                </li>
                    <li class="">
                    Logs
                </li>
                </ul>
                <div id="grid-Comments"></div>
                <div id="grid-logs"></div>
            </div>
        <div style="height: 20px;"></div>
        </div>
    <div class="panel-footer">
        <p class="pull-right">
            @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Id }) |
            @Html.ActionLink("Ticket List", "Index")
            @if (Request.UrlReferrer != null)
            {
                @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
            }
        </p>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
    var dsLogs = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
                url: "@(webApiUrl)logs/Tickets/@ViewBag.Id",
                dataType: "json",
                contentType: "application/json"
            },
            parameterMap: function (options, operation) {
                if (operation === "destroy") {
                    return null;
                } else if (operation !== "read" && options.models) {
                    return { models: kendo.stringify(options.models) };
                } else {
                    return "q=" + JSON.stringify(options);
                }
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            model: {
                id: 'Id',
                fields: {
                    EventDateUTC: {
                        type: "date"
                    }
                },
                }
            },
            serverFiltering: true,
            serverPaging: true,
            serverSorting: true,
            pageSize: 10
        });

        $("#grid-logs").kendoGrid({
            dataSource: dsLogs,
            sortable: true,
            filterable: {
                mode: "row"
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            groupable: true,
            columns: [
                {
                    field: "EventType",
                    title: "Type"
                },
                {
                    field: "EventDateUTC",
                    title: "Change Date",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                },
                {
                    field: "ColumnName",
                    title: "Column"
                },
                {
                    field: "OriginalValue",
                    title: "Original"
                },
                {
                    field: "NewValue",
                    title: "New"
                },
                {
                    field: "UserName",
                    title: "By"
                }
            ]
        });


        var dsTicketComments = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)TicketComments",
                    dataType: "json",
                    contentType: "application/json"
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        return "q=" + JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: 'Id',
                    //content: 'Content',
                }
            },
            filter: {
                field: "TicketId",
                operator: "eq",
                value: parseInt("@ViewBag.Id")
            },
            serverFiltering: true,
            serverPaging: true,
            serverSorting: true,
            pageSize: 10
        });

        $("#grid-Comments").kendoGrid({
            dataSource: dsTicketComments,
            sortable: true,
            dataBound: gridDataBound,
            noDataMessage: 'Currently no Comments available',
            sortable: true,
            filterable: {
                mode: "row"
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            groupable: true,
            columns: [
                //{
                //    field: "Commenter.Id",
                //    title: "Id"
                //},
                {
                    field: "Content",
                    title: "Content"
                },
                {
                    field: "CreatedAt",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                }//,
                //{
                //    field: "Creator.UserName",
                //    title: "By"
                //}
            ]
        });
    </script>
}
