﻿@model IEnumerable<Domain.Models.Ticket>

@{
    ViewBag.Title = "Index";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-list"></span> <strong>Ticket - Index</strong>
        </h2>
    </div>
    <div class="panel-content p-b-20">
        <div id="grid"></div>
    </div>
</div>
@section styles{
    <script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>
}
@section scripts{
    <script type="text/javascript">
    var dataSource = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
                url: "@(webApiUrl)Tickets",
                dataType: "json",
                contentType: "application/json"
            },
            destroy: {
                url: function (data) {
                    return "@(webApiUrl)Tickets/" + data.Id;
                },
                type: "delete"
            },
            parameterMap: function (options, operation) {
                if (operation === "destroy") {
                    return null;
                } else if (operation !== "read" && options.models) {
                    return { models: kendo.stringify(options.models) };
                } else {
                    return "q=" + JSON.stringify(options);
                }
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            model: {
                id: 'Id',
                fields: {
                    Id: {
                        type: "number"
                    },
                    Title: {
                        type: "string"
                    },
                    Description: {
                        type: "string"
                    },
                    Category: {
                        type: "domain.enums.ticketcategory"
                    },
                    Status: {
                        type: "domain.enums.ticketstatus"
                    },
                    Application: {
                        type: "domain.enums.ticketapplication"
                    },
                    Priority: {
                        type: "domain.enums.ticketpriority"
                    },
                    DueDate: {
                        type: "date"
                    },
                    CreatorId: {
                        type: "string"
                    },
                    SolutionId: {
                        type: "number"
                    },
                    CreatedAt: {
                        type: "date"
                    },
                    LastUpdateTime: {
                        type: "date"
                    },
                }
            }
        },
        batch: false,
        serverPaging: true,
        serverSorting: true,
        serverFiltering: true,
        pageSize: 10
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        dataBound: gridDataBound,
        noDataMessage: 'Currently no Ticket available',
        columns: [
            {
                field: "Creator.Email",
                title: "Creator",
                template: function (data) {
                    var html = "<div class='text-center'>";
                    if (data.CreatorId == null) {
                        html += "<span class='text-center'>" + "Null" + "</span>";
                    } else {
                        html += '<a href="@Url.Action("Details","ApplicationUser")/' + data.Creator.Id + '">' + data.Creator.Email + '</a>';
                        }
                        html += "</div>";
                        return html;
                        //return '<a href="[at]Url.Action("Details","ApplicationUser")/' + data.Creator.Id + '">' + data.Creator.Email + '</a>';
                    }
                },
                {
                    field: "Solution.Title",
                    title: "Solution",
                    template: function (data) {
                        var html = "<div class='text-center'>";
                        if (data.SolutionId == null) {
                            html += "<span class='text-center'>" + "Null" + "</span>";
                        } else {
                            html += '<a href="@Url.Action("Details","Solution")/' + data.Solution.Id + '">' + data.Solution.Title + '</a>';
                        }
                        html += "</div>";
                        return html;
                        //return '<a href="[at]Url.Action("Details","Solution")/' + data.Solution.Id + '">' + data.Solution.Title + '</a>';
                    }
                },
                {
                    field: "Id",
                    hidden: true,
                    width: 100
                },
                "Title",
                "Description",
                "Category",
                "Status",
                "Application",
                "Priority",
                {
                    field: "DueDate",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                },
                {
                    field: "CreatedAt",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                },
                {
                    field: "LastUpdateTime",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                },
                {
                    command: [
                        {
                            name: 'Details',
                            click: function (data) {
                                var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                                window.location = "@Url.Action("Details")/" + dataItem.Id;
                        },
                        text: "<button class='btn btn-default btn-transparent btn-sm p-0' title='Details'><span class='fa fa-search'></span></button>"
                    },
                    {
                        name: 'Edit',
                        click: function (data) {
                            var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                            window.location = "@Url.Action("Edit")/" + dataItem.Id;
                        },
                        text: "<button class='btn btn-primary btn-sm p-0' title='Edit'><span class='fa fa-edit'></span></button>"
                    },
                    {
                        name: 'destroy',
                        text: "<button class='btn btn-danger btn-sm p-0' title='Delete'><span class='fa fa-trash-o'></span></button>"
                    }
                ],
                width: 200
            }
        ],
        editable: "popup",
        sortable: true,
        filterable: {
            mode: "row"
        },
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        groupable: true,
        excel: {
            allPages: true,
            fileName: "Ticket_Export.xlsx",
            filterable: true
        },
        toolbar: [
            {
                name: "create",
                template: '<a href="@Url.Action("Create")" class="k-button k-button-icontext"><span class="fa fa-plus"></span> Add New Ticket</a>'
            },
            {
                name: "excel",
                text: "<span class='fa fa-file-excel-o'></span> Export To Excel"
            },
            {
                name: "download",
                template: '<button class="k-button" id="downloadFormatExcel"><span class="fa fa-download"></span> Download Import Excel Format</button>'
            }
        ]
    });

    $("#downloadFormatExcel").click(function (e) {
        e.preventDefault();

        var format = [
            {
                cells: [
                    { value: "Id" },
                    { value: "Title" },
                    { value: "Description" },
                    { value: "Category" },
                    { value: "Status" },
                    { value: "Application" },
                    { value: "Priority" },
                    { value: "DueDate" },
                    { value: "CreatorId" },
                    { value: "SolutionId" },
                    { value: "CreatedAt" },
                    { value: "LastUpdateTime" },
                ]
            }
        ];

        var workbook = new kendo.ooxml.Workbook({
            sheets: [
              {
                  columns: [
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                  ],
                  // Title of the sheet
                  title: "Ticket",
                  // Rows of the sheet
                  rows: format
              }
            ]
        });
        //save the file as Excel file with extension xlsx
        kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: "Ticket_Import.xlsx" });
    });

    var dsExcel = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
                url: "@(webApiUrl)Tickets",
                dataType: "json",
                contentType: "application/json",
            },
            parameterMap: function (options, operation) {
                if (operation === "destroy") {
                    return null;
                } else if (operation !== "read" && options.models) {
                    return { models: kendo.stringify(options.models) };
                } else {
                    return "q=" + JSON.stringify(options);
                }
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            model: {
                id: 'Id',
                fields: {
                    Id: {
                        type: "number"
                    },
                    Title: {
                        type: "string"
                    },
                    Description: {
                        type: "string"
                    },
                    Category: {
                        type: "domain.enums.ticketcategory"
                    },
                    Status: {
                        type: "domain.enums.ticketstatus"
                    },
                    Application: {
                        type: "domain.enums.ticketapplication"
                    },
                    Priority: {
                        type: "domain.enums.ticketpriority"
                    },
                    DueDate: {
                        type: "date"
                    },
                    CreatorId: {
                        type: "string"
                    },
                    SolutionId: {
                        type: "number"
                    },
                    CreatedAt: {
                        type: "date"
                    },
                    LastUpdateTime: {
                        type: "date"
                    },
                }
            }
        }
    });

    function exportToExcel() {
        var rows = [
            {
                cells: [
                    { value: "Id" },
                    { value: "Title" },
                    { value: "Description" },
                    { value: "Category" },
                    { value: "Status" },
                    { value: "Application" },
                    { value: "Priority" },
                    { value: "DueDate" },
                    { value: "CreatorId" },
                    { value: "SolutionId" },
                    { value: "CreatedAt" },
                    { value: "LastUpdateTime" },
                ]
            }
        ];

        dsExcel.query({
            pageSize: dsExcel.total()
        }).then(function () {
            var data = dsExcel.data();
            for (var i = 0; i < data.length; i++) {
                //push single row for every record
                rows.push({
                    cells: [
                        { value: data[i].Id },
                        { value: data[i].Title },
                        { value: data[i].Description },
                        { value: data[i].Category },
                        { value: data[i].Status },
                        { value: data[i].Application },
                        { value: data[i].Priority },
                        { value: data[i].DueDate },
                        { value: data[i].CreatorId },
                        { value: data[i].SolutionId },
                        { value: data[i].CreatedAt },
                        { value: data[i].LastUpdateTime },
                    ]
                });
            }

            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                  {
                      columns: [
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                      ],
                      // Title of the sheet
                      title: "Ticket",
                      // Rows of the sheet
                      rows: rows
                  }
                ]
            });
            //save the file as Excel file with extension xlsx
            kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: "Ticket_Export.xlsx" });
        });
    }

    $("#grid").data("kendoGrid").bind("excelExport", function (e) {
        e.preventDefault();
        exportToExcel();
    });

    </script>
}
