﻿@using System.Configuration
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    var baseUrl = ConfigurationManager.AppSettings["baseUrl"];
}

<div class="panel">
    <h4>Your account has been confirmed..</h4>
</div>