﻿@model Domain.Models.ViewModels.BaseUser

@{
    ViewBag.Title = "Profile";
}

<div class="panel">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="panels panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Profil User</h3>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-2 col-lg-2 " align="center"> <img alt="User Pic" src="@Html.DisplayFor(model => model.Photo)" height="150" width="150" class="img-circle user-pic"> </div>
                        <div class=" col-md-10 col-lg-10 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                                        <td>@Html.DisplayFor(model => model.Name)</td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.BirthPlace) / @Html.DisplayNameFor(model => model.BirthDate)</td>
                                        <td>@Html.DisplayFor(model => model.BirthPlace) / @Html.DisplayFor(model => model.BirthDate)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Address)</td>
                                        <td>@Html.DisplayFor(model => model.Address)</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.Telephone)</td>
                                        <td>@Html.DisplayFor(model => model.Telephone)</td>
                                    </tr>
                                </tbody>
                            </table>
                            @*@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })*@
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
