﻿@using System.Configuration
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    var baseUrl = ConfigurationManager.AppSettings["baseUrl"];
}

<div class="panel">
    <form id="forgot">
        <h3 class="text-center">Forgot password</h3>
        <div id="alert"></div>
        <div class="col-lg-12">
            <input type="text" class="k-input k-textbox" placeholder="Email" name="email" id="Email" />
        </div>
        <div class="col-lg-12">
            <input type="submit" class="k-button k-primary" value="Send" />
        </div>
        <div class="col-lg-12 text-right">
            <span><a href="@Url.Action("Index")">Login</a></span> |
            <span><a href="@Url.Action("Register")">Register</a></span>
        </div>
    </form>
</div>
    @section scripts
{
        <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
        <script type="text/javascript">
            $("form#forgot").validate({
                rules: {
                    Email: {
                        required: true,
                        email: true
                    }
                },
                submitHandler: function (form) {
                    var data = {
                        Email: $("#Email").val()
                    }

                    $.ajax({
                        url: config.baseUrl + "api/accounts/GenerateResetToken",
                        data: data,
                        method: "POST",
                        success: function (resp) {
                            var countdown = 3;
                            $("#alert").html("<div class='alert alert-success'>Reset link has been sent to your email, you will be redirected in " + countdown + " seconds.</div>");
                            countdown -= 1;

                            window.setInterval(function () {
                                $("#alert").html("<div class='alert alert-success'>Reset link has been sent to your email, you will be redirected in " + countdown + " seconds.</div>");
                                countdown -= 1;
                            }, 1000);

                            setTimeout(function () {
                                window.location = "@baseUrl";
                            }, 3000);
                        },
                        error: function (resp) {
                            var error = $.parseJSON(resp.responseText);

                            var errArr = [];

                            for (var x in error.modelState) {
                                errArr.push(error.modelState[x]);
                            }

                            var alertMsg = errArr[0].join(",");
                            $("#alert").html("<div class='alert alert-danger'>" + alertMsg + "</div>");
                        },
                        beforeSend: function (data) {
                            $("#alert").html("");
                            $("#body-overlay").removeClass("hide");
                        },
                        complete: function (resp) {
                            $("#body-overlay").addClass("hide");
                        }
                    });
                }
            });
        </script>
    }
