﻿@using System.Configuration
@using Domain.Infrastructure
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    var baseUrl = ConfigurationManager.AppSettings["baseUrl"];
}
<body class="account separate-inputs boxed" data-page="login">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <i class="user-img icons-faces-users-03"></i>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h1>sangkuriang</h1>
                        if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                        {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div id="alert"></div>
                        <div class="append-icon">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-white username", @placeholder = "Username" })
                            <i class="icon-user"></i>
                        </div>
                        <div class="append-icon">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-white password", @placeholder = "Password" })
                            <i class="icon-lock"></i>
                        </div>
                        <div class="checkbox m-b-20 pull-right">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit" id="submit-form" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Sign In</button>
                        <div class="social-btn" style="display: none">
                            <button type="button" class="btn-fb btn btn-lg btn-block btn-primary"><i class="icons-socialmedia-08 pull-left"></i>Connect with Facebook</button>
                            <button type="button" class="btn btn-lg btn-block btn-blue"><i class="icon-social-twitter pull-left"></i>Login with Twitter</button>
                        </div>
                        <div class="clearfix">
                            <p class="pull-left m-t-20">
                                <a id="password" href="#">Forgot password?</a>
                            </p>
                            @*<p class="pull-right m-t-20"><a href="user-signup-v1.html">New here? Sign up</a></p>*@
                        </div>
                    }
                    <form class="form-password" id="form-password" role="form">
                        <h1>labpimnas</h1>
                        <div id="alert2"></div>
                        <div class="append-icon m-b-20">
                            <input type="text" placeholder="Email" name="email" id="Email" class="form-control form-white password" required>
                            <i class="icon-lock"></i>
                        </div>
                        <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Send Password Reset Link</button>
                        <div class="clearfix">
                            <p class="pull-left m-t-20"><a id="login" href="#">Already got an account? Sign In</a></p>
                            @*<p class="pull-right m-t-20"><a href="user-signup-v1.html">New here? Sign up</a></p>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p class="account-copyright">
            <span>&copy; PT. Sangkuriang Internasional - @DateTime.Now.Year</span>
        </p>
    </div>

</body>

@section scripts
{
    <script type="text/javascript">
        $('#submit-password').click(function (e) {
            $(this).addClass('ladda-button');
            var l = Ladda.create(this);
            l.start();

            var data = {
                Email: $("#Email").val()
            };

            e.preventDefault();

            $.ajax({
                url: config.baseUrl + "api/accounts/GenerateResetToken",
                data: data,
                method: "POST",
                success: function (resp) {
                    var countdown = 3;
                    $("#alert2").html("<div class='alert alert-success'>Reset link has been sent to your email, you will be redirected in " + countdown + " seconds.</div>");
                    countdown -= 1;

                    window.setInterval(function () {
                        $("#alert2").html("<div class='alert alert-success'>Reset link has been sent to your email, you will be redirected in " + countdown + " seconds.</div>");
                        countdown -= 1;
                    }, 1000);

                    setTimeout(function () {
                        window.location = "@baseUrl";
                    }, 3000);
                },
                error: function (resp) {
                    var error = $.parseJSON(resp.responseText);

                    var errArr = [];

                    for (var x in error.modelState) {
                        errArr.push(error.modelState[x]);
                    }

                    var alertMsg = errArr[0].join(",");
                    $("#alert2").html("<div class='alert alert-danger'>" + alertMsg + "</div>");
                },
                beforeSend: function (data) {
                    $("#alert2").html("");
                    //$("#body-overlay").removeClass("hide");
                },
                complete: function (resp) {
                    $("#submit-password").prop("disabled", false);
                    $("#submit-password").removeAttr('data-loading');
                    $("#body-overlay").addClass("hide");
                }
            });

        });

    </script>
}
