﻿@using Domain.Models
@model string

<div>
    @Html.Hidden("", Model)
    @if (!string.IsNullOrWhiteSpace(Model))
    {
        var file = Json.Decode<Attachment>(Model);
        <a href="@file.Path" title="@file.Name">
            <div class="text-center p-5 m-b-5 m-r-5 border w-100 h-100" style="overflow: hidden;">
                @if (file.FileType.Contains("image"))
                {
                    <img src="@file.Path?width=90&height=90&mode=crop" alt="@file.Name" />
                }
                else
                {
                    <span class="fa fa-file-o text-4x"></span>
                    <br />@file.Name
                }
            </div>
        </a> <button class="btn btn-danger singleFileDelete w-100">Delete</button>
    }
    <input type="file" class="singleFileUpload"/>
</div>

<script>
    $(function() {
        var file = {};
        function onSuccess(e) {
            if (e.operation == "upload") {
                var $upload = $(e.sender.wrapper).parent().parent().find("input[type=hidden]");

                if ($upload.val().length > 0) {
                    file = JSON.parse($upload.val());
                }

                file = e.response[0];
                
                file.Name = getFileInfo(e)[0].name;
                
                file.Type = "@AttachmentType.File";

                $upload.val(JSON.stringify(file));
            }
        }

        function getFileInfo(e) {
            var result = {};
            result = $.map(e.files, function (i) {
                //var info = file.name;
                return i;
            });

            return result;
        }

        $(".singleFileDelete").unbind().on("click", function(e) {
            e.preventDefault();
            var $upload = $(this).siblings("input[type=hidden]");

            var toDelete = JSON.parse($upload.val()),
                $this = $(this);

            $.ajax({
                url: "/api/DeleteFile?fileNames=" + toDelete.Path,
                method: "POST",
                success: function (resp) {
                    $upload.val("");
                    $this.siblings("a").remove();
                    $this.remove();
                }
            });
        });

        $(".singleFileUpload").kendoUpload({
            async: {
                saveUrl: "/api/Upload/PostFile",
                removeUrl: "/api/Upload/DeleteFile/",
                autoUpload: false
            },
            multiple: false,
            success: onSuccess,
            remove: function (e) {
                var $upload = $(e.sender.wrapper).parent().parent().find("input[type=hidden]"),
                    toDelete = file;

                if (toDelete) {
                    $upload.val("");
                    e.sender.options.async.removeUrl = "/api/DeleteFile?fileNames=" + toDelete.Path;
                }
            }
        });
    });
</script>