﻿@using Domain.Infrastructure
@model List<SubMenu>

<div id="menu-creator">
    @if (Model != null)
    {
        for (var i = 0; i < Model.Count; i++)
        {
            <fieldset class="m-t-0 m-b-10">
                <div class="form-group">
                    <div class="col-md-12">
                        <a href="javascript:void(0);" class="delete-menu-creator pull-right text-danger"><span class="fa fa-times"></span> Delete</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model[i].Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model[i].Name, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model[i].Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model[i].Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model[i].Title, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model[i].Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model[i].Action, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model[i].Action, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model[i].Action, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model[i].Controller, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model[i].Controller, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model[i].Controller, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model[i].Url, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model[i].Url, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model[i].Url, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model[i].Icon, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model[i].Icon, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model[i].Icon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model[i].SortOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model[i].SortOrder, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model[i].SortOrder, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
        }
    }
</div>
<a href="javascript:void(0);" id="btn-create-menu" class="btn btn-primary btn-transparent btn-sm"><span class="fa fa-plus"></span> Add Sub Menu</a>

<script type="text/my-template" id="create-menu-template">
    <fieldset class="m-t-0 m-b-10">
        <div class="form-group">
            <div class="col-md-12">
                <a href="javascript:void(0);" class="delete-menu-creator pull-right text-danger"><span class="fa fa-times"></span> Delete</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="SubMenu_{{counter}}__Name" class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-white" id="SubMenu_{{counter}}__Name" name="SubMenu[{{counter}}].Name" />
            </div>
        </div>

        <div class="form-group">
            <label for="SubMenu_{{counter}}__Title" class="control-label col-md-2">Title</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-white" id="SubMenu_{{counter}}__Title" name="SubMenu[{{counter}}].Title" />
            </div>
        </div>

        <div class="form-group">
            <label for="SubMenu_{{counter}}__Actiion" class="control-label col-md-2">Action</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-white" id="SubMenu_{{counter}}__Actiion" name="SubMenu[{{counter}}].Action" />
            </div>
        </div>

        <div class="form-group">
            <label for="SubMenu_{{counter}}__Controller" class="control-label col-md-2">Controller</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-white" id="SubMenu_{{counter}}__Controller" name="SubMenu[{{counter}}].Controller" />
            </div>
        </div>

        <div class="form-group">
            <label for="SubMenu_{{counter}}__Url" class="control-label col-md-2">Url</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-white" id="SubMenu_{{counter}}__Url" name="SubMenu[{{counter}}].Url" />
            </div>
        </div>

        <div class="form-group">
            <label for="SubMenu_{{counter}}__Icon" class="control-label col-md-2">Icon</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-white" id="SubMenu_{{counter}}__Icon" name="SubMenu[{{counter}}].Icon" />
            </div>
        </div>

        <div class="form-group">
            <label for="SubMenu_{{counter}}__Icon" class="control-label col-md-2">Sort Order</label>
            <div class="col-md-10">
                <input type="number" class="form-control form-white" id="SubMenu_{{counter}}__SortOrder" name="SubMenu[{{counter}}].SortOrder" />
            </div>
        </div>
    </fieldset>
</script>

<script type="text/javascript">
    function bindingDeleteMenu() {
        $(".delete-menu-creator").unbind().click(function (e) {
            $(this).parent().parent().parent().remove();

            $.each($("#menu-creator fieldset"), function (i) {
                $.each($(this).find("input"), function () {
                    var id = $(this).attr("id");
                    var name = $(this).attr("name");
                    id = id.replace(/SubMenu_\d/g, "SubMenu_" + i);
                    name = name.replace(/SubMenu\[\d/g, "SubMenu[" + i);

                    $(this).attr("id", id);
                    $(this).attr("name", name);
                });

                $.each($(this).find("label"), function () {
                    var id = $(this).attr("for");
                    id = id.replace(/SubMenu_\d/g, "SubMenu_" + i);

                    $(this).attr("for", id);
                });
            });
        });
    }

    $("#btn-create-menu").unbind().click(function (e) {
        e.preventDefault();

        var template = $("#create-menu-template").html();

        var count = $("#menu-creator fieldset").length;

        template = template.replace(/{{counter}}/g, count);

        $("#menu-creator").append(template);

        bindingDeleteMenu();
    });

    bindingDeleteMenu();
</script>